
<h1>Boite de reception</h1>
<%=link_to '<button class="btn btn-secondary">Creer Mail</button>'.html_safe,new_email_path,remote: true%>

<div class="container ">
  <div class="row">
        <%# Div qui va lister les mails %>
        <div class="col-md-4" id="mails">
            <%@emails.each{ |email|%>
                <%if(email.read == true)then%>
                <div class="mt-4 bg-secondary text-dark " id= "<%= email.id %>" >
                <%else%>
                 <div class="mt-4 bg-light text-dark " id= "<%= email.id %>" >
                <%end%>
                    <%=link_to email.object,email_path(id:email.id) ,remote: true,class:"mail-object text-dark"%>
                    <p><%=email.created_at%></p>
                    <%=link_to "Supprimer", email_path(id:email.id), method: :delete, data: { confirm: 'Supprimer definitivement ce mail ?' ,remote:true },class:"badge badge-danger delete_mail"%>
                    <br/>
                    <%= form_for(email,remote: true) do |f| %>
                    <%= f.hidden_field :read, :value => false %>
                    <%= f.submit "Marquer comme non-lu",class:"update btn btn-primary"%>
                    <% end %>
                </div>
            <%}%>
        </div>
        <%# Div qui va contenir le body d mail %>
        <div class="col" id="body-mail">
        </div>

        <div class="w-100"></div>
  </div>
</div>

